<div class="panel panel-warning" style="margin-top:20px;">
	<div class="panel-heading">
		<p class="panel-title">
			Initializeが実行されていないプレビューが存在します。<br />
			Initializeを実行してください。<br />
		</p>
		<form method="post" style="margin-top:20px;">


{# 
			{{ $this->get_additional_params() }}
 #}


			<input type="submit" id="init_btn" name="init" class="px2-btn px2-btn--primary px2-btn--block" value="Initialize" />
		</form>
	</div>
</div>
