<div class="px2-p">
	<div class="px2-form-input-list">
		<ul class="px2-form-input-list__ul">
			<li class="px2-form-input-list__li">
				<div class="px2-form-input-list__label"><label for="plum__ht-user-name">ユーザー名</label></div>
				<div class="px2-form-input-list__input">
					<input type="text" id="plum__ht-user-name" class="px2-input" name="plum__ht-user-name" value="{{ server_info.htpasswd.user_name }}" />
					<ul class="px2-note-list">
						<li>ユーザー名 を空白にすると、認証が解除されます。</li>
					</ul>
				</div>
			</li>
			<li class="px2-form-input-list__li">
				<div class="px2-form-input-list__label"><label for="plum__ht-password">パスワード</label></div>
				<div class="px2-form-input-list__input">
					<input type="password" id="plum__ht-password" class="px2-input" name="plum__ht-password" value="" />
				</div>
			</li>
		</ul>
	</div>
</div>
