<div>

<table class="px2-table" style="width: 100%;">
	<thead>
		<tr>
			<th>サーバー</th>
			<th>ブランチ</th>
			<th>プレビュー</th>
			<th>詳細</th>
		</tr>
	</thead>
	<tbody>

{% for server_info in condition.staging_server %}
		<tr>
			<td scope="row">{{ server_info.name }}</td>
			<td>{{ server_info.current_branch }}</td>
			<td class="px2-text-align-center"><a href="{{ server_info.url }}" class="px2-btn px2-btn--block" target="_blank">プレビュー</a></td>
			<td class="px2-text-align-center"><button type="button" data-plum-target-staging-index="{{ server_info.index }}" data-plum-method="detail" class="px2-btn px2-btn--block">詳細</a></td>
		</tr>
{% endfor %}

	</tbody>
</table>

</div>
